:root {
  --primary-text-color: #757575;
  --secondary-text-color-white: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc-color: #ffffff;
  --secondary-bgc-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
  --logo-studio-color-black: #000000;
  --contact-phone-mail-color: rgba(255, 255, 255, 0.6);
  --container-bg-color: #eeeeee;
  --header-boarder-color: #ececec;
  --order-btn-bg-color: #188ce8;
  --social-links-color: #afb1b8;
  --social-list-bg-color-footer: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-bdc-color: #ffffff;
  --backdrop-hover-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(47, 48, 58, 0.8);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.address {
  font-style: normal;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

body {
  background-color: var(--primary-bgc-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: var(--modal-bdc-color);
  color: black;
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-close__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close__icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close__icon:hover {
  color: var(--accent-color);
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  margin-bottom: 10px;
}

.form__textarea {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-input-icon {
  position: relative;
  display: block;
}

.form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-icon:focus-within > .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition);
}
.form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agreement__link {
  color: var(--accent-color);
}

.form-agreement-text {
  color: var(--primary-text-color);
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.agreement__checkbox {
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}
.agreement__input:checked + .agreement__checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.agreement__input:focus + .agreement__checkbox {
  border-color: var(--accent-color);
}

.agreement__icon {
  display: none;
}
.agreement__input:checked + .agreement__checkbox .agreement__icon {
  display: block;
  fill: var(--accent-color);
}

.agreement__input {
  appearance: none;
  position: absolute;
}

.form__btn {
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-color-white);
  letter-spacing: 0.06em;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color var(--transition), box-shadow var(--transition);
}
.form__btn:focus, .form__btn:hover {
  background-color: var(--order-btn-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-media {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--social-links-color);
  border-radius: 50%;
  background-color: var(--primary-bgc-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-white);
}

.social-media__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.page-header {
  display: flex;
  align-items: center;
  height: 80px;
  border: 1px solid;
  color: var(--header-boarder-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-studio {
  color: var(--logo-studio-color-black);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item,
.auth-nav__item {
  margin-left: 50px;
}

.site-nav,
.auth-nav {
  letter-spacing: 0.02em;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link_active {
  color: var(--accent-color);
}

.active {
  position: relative;
  color: var(--accent-color);
}
.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-nav__link {
  display: flex;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon {
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--secondary-text-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
  text-align: center;
  color: var(--secondary-text-color-white);
  background-color: var(--order-btn-bg-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.features {
  display: flex;
  gap: 30px;
}

.features__label {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bgc-color);
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}

.features__text {
  line-height: 1.71;
}

.works-section {
  padding-bottom: 94px;
}

.works {
  display: flex;
}

.works__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works__thumb {
  position: relative;
}

.works__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: var(--backdrop-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--secondary-text-color-white);
}

.workers-section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
  background-color: var(--secondary-bgc-color);
}

.workers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.workers__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-bgc-color);
  text-align: center;
}

.worker__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.worker__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.clients {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-links-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-links-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.menu__btn {
  display: inline-block;
  padding: 6px 22px;
  text-align: center;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:hover, .menu__btn:focus {
  color: var(--primary-bgc-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--secondary-text-color-white);
  padding: 63px 24px;
}
.card__link:hover .card__overlay, .card__link:focus .card__overlay {
  transform: translateY(0%);
}

.card__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid;
  border-color: var(--container-bg-color);
}

.card__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-studio {
  color: var(--secondary-text-color-white);
}

.address__link {
  color: var(--secondary-text-color-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--primary-text-color);
}

.address__list {
  font-style: normal;
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__mail {
  color: var(--contact-phone-mail-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail:hover, .address__mail:focus {
  color: var(--secondary-text-color-white);
}

.address__phone {
  color: var(--contact-phone-mail-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__phone:hover, .address__phone:focus {
  color: var(--secondary-text-color-white);
}

.subscribe {
  margin-left: auto;
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--secondary-text-color-white);
}

.subscribe__frame {
  display: flex;
  gap: 12px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: var(--hero-footer-bg-color);
  outline: none;
  color: #ffffff;
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-white);
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition), box-shadow var(--transition);
}
.subscribe-btn:focus, .subscribe-btn:hover {
  background-color: var(--order-btn-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-btn__text {
  margin-right: 10px;
  padding: 0;
}

.subscribe-btn__icon {
  fill: currentColor;
}

.footer-social-media__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--secondary-text-color-white);
}

.footer-social-media__link {
  background-color: var(--social-list-bg-color-footer);
}

.footer-social-media__icon {
  fill: var(--secondary-text-color-white);
}/*# sourceMappingURL=main.css.map */