.page-header {
  display: flex;
  align-items: center;
  height: 80px;
  border: 1px solid;
  color: var(--header-boarder-color);
}
.nav {
  display: flex;
  align-items: center;
}

.nav-studio {
  color: var(--logo-studio-color-black);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item,
.auth-nav__item {
  margin-left: 50px;
}
.site-nav,
.auth-nav {
  letter-spacing: 0.02em;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link_active {
  color: var(--accent-color);
}

.active {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav__link {
  display: flex;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth-nav__icon {
  fill: currentColor;
}
