.workers-section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
  background-color: var(--secondary-bgc-color);
}
.workers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.workers__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--primary-bgc-color);
  text-align: center;
}
.worker__info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.worker__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.worker__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
