h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.address {
  font-style: normal;
}
button {
  font-family: inherit;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
